In [60]:
import camelot
import pandas as pd

In [161]:
# extract all the tables in the PDF file

try:
    tables_all = camelot.read_pdf('MIT_Open_Access.pdf', multiple_tables=True, flavor='stream', pages='all')
except Exception as E:
    print(E)

UserWarning: No tables found in table area 1 [stream.py:360]
UserWarning: No tables found in table area 2 [stream.py:360]

In [173]:
# number of tables extracted
print("Total tables extracted:", tables_all.n)

Total tables extracted: 114

In [210]:
def extract_table_and_format(tables_all):
    data_1 = tables_all.df[1:]
    data_1_1 = data_1[1:]
    data_1_1 = data_1_1.reset_index(drop=True)
    data_1_1.columns = ['Group', 'Name', 'Abbreviation']
    return data_1_1

In [239]:
try:
    table_57 = extract_table_and_format(tables_all[57])
    table_58 = extract_table_and_format(tables_all[58])
    table_59 = extract_table_and_format(tables_all[59])
    table_60 = extract_table_and_format(tables_all[60])
    table_61 = extract_table_and_format(tables_all[61])
    table_62 = extract_table_and_format(tables_all_62)
except Exception as E:
    print(E)

'DataFrame' object has no attribute 'df'

In [233]:
tables_all[62].df

       0                              1   2    3
0  Other      United Goan Superia Group      UGS
1  Other  United Goans Democratic Party      SGF
2  Other             United Goans Party      NMG
3  Other                 Utkal Congress      UTC
4                                        50

In [243]:
## table 62 has a different format so rectified here
table_62 = tables_all[62].df[:-1]
table_62 = table_62.drop([2],axis=1)
table_62.columns = ['Group', 'Name', 'Abbreviation']
table_62

   Group                           Name Abbreviation
0  Other      United Goan Superia Group          UGS
1  Other  United Goans Democratic Party          SGF
2  Other             United Goans Party          NMG
3  Other                 Utkal Congress          UTC

In [245]:
tables_all_pages = pd.concat([table_57,table_58,table_59,table_60,table_61,table_62])
tables_all_pages = tables_all_pages.reset_index(drop=True)
tables_all_pages

      Group                                      Name Abbreviation
0    Centre  All India Anna Dravida Munnetra Kazhagam         ADMK
1    Centre        All India Indira Congress (Tiwari)      AIIC(T)
2    Centre                   All India N.R. Congress        AINRC
3    Centre              All India Trinamool Congress         AITC
4    Centre                           Biju Janata Dal          BJD
..      ...                                       ...          ...
141   Other                  United Front of Nagaland          UFN
142   Other                 United Goan Superia Group          UGS
143   Other             United Goans Democratic Party          SGF
144   Other                        United Goans Party          NMG
145   Other                            Utkal Congress          UTC

[146 rows x 3 columns]

In [250]:
tables_all_pages

      Group                                      Name Abbreviation
0    Centre  All India Anna Dravida Munnetra Kazhagam         ADMK
1    Centre        All India Indira Congress (Tiwari)      AIIC(T)
2    Centre                   All India N.R. Congress        AINRC
3    Centre              All India Trinamool Congress         AITC
4    Centre                           Biju Janata Dal          BJD
..      ...                                       ...          ...
141   Other                  United Front of Nagaland          UFN
142   Other                 United Goan Superia Group          UGS
143   Other             United Goans Democratic Party          SGF
144   Other                        United Goans Party          NMG
145   Other                            Utkal Congress          UTC

[146 rows x 3 columns]

In [251]:
tables_all_pages.to_csv('TableA1b.csv',index=False)

In [257]:
tables_all_pages.to_excel('TableA1b.xlsx')

In [258]:
TableA1b = pd.read_csv('tablea1b.csv')
TableA1b

      Group                                      Name Abbreviation
0    Centre  All India Anna Dravida Munnetra Kazhagam         ADMK
1    Centre        All India Indira Congress (Tiwari)      AIIC(T)
2    Centre                   All India N.R. Congress        AINRC
3    Centre              All India Trinamool Congress         AITC
4    Centre                           Biju Janata Dal          BJD
..      ...                                       ...          ...
141   Other                  United Front of Nagaland          UFN
142   Other                 United Goan Superia Group          UGS
143   Other             United Goans Democratic Party          SGF
144   Other                        United Goans Party          NMG
145   Other                            Utkal Congress          UTC

[146 rows x 3 columns]